<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns:context="http://www.springframework.org/schema/context"
xmlns:mvc="http://www.springframework.org/schema/mvc"
xmlns:tx="http://www.springframework.org/schema/tx"
xsi:schemaLocation="
    http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd
    http://www.springframework.org/schema/mvc
    http://www.springframework.org/schema/mvc/spring-mvc.xsd
    http://www.springframework.org/schema/tx 
    http://www.springframework.org/schema/tx/spring-tx.xsd">
  
    <!-- Provide support for component scanning -->  
  
      <tx:annotation-driven />
     
   
      <context:component-scan base-package="webapp"/>  <!-- dispather servlet finds class or controller -->
      
    <mvc:annotation-driven />
     <mvc:resources mapping="/resources/**" location="/WEB-INF/resources/"></mvc:resources>
     
    <bean id="viewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">  
        <property name="prefix" value="/WEB-INF/jsp/"></property>  
        <property name="suffix" value=".jsp"></property>          
     </bean> 
     <bean id = "dataSource"
class = "org.springframework.jdbc.datasource.DriverManagerDataSource">
   <property name = "driverClassName" value = "com.mysql.cj.jdbc.Driver"/>
   <property name = "url" value = "jdbc:mysql://localhost:3306/result"/>
   <property name = "username" value = "root"/>
   <property name = "password" value = "root"/>
</bean> 
      <bean id="mysessionFactory"  class="org.springframework.orm.hibernate5.LocalSessionFactoryBean">  
        <property name="dataSource" ref="dataSource"></property>  
          
        <property name="annotatedClasses">  
        <list>  
        <value>webapp.controller.admincontroller</value>  
        <value>webapp.controller.controller</value> 
         <value>webapp.model.admin</value>  
         <value>webapp.dao.admindao</value> 
          <value>webapp.service.adminservice</value>  
      <value>webapp.model.studentresult</value> 
        </list>  
        </property>  
          
        <property name="hibernateProperties">  
            <props>  
                <prop key="hibernate.dialect">org.hibernate.dialect.MySQL5Dialect</prop>  
                <prop key="hibernate.hbm2ddl.auto">update</prop>  
                <prop key="hibernate.show_sql">true</prop>  
                  
            </props>  
        </property>  
    </bean>  
  <bean class="org.springframework.orm.hibernate5.HibernateTemplate" name="hibernateTemplate">  
    <property name="sessionFactory" ref="mysessionFactory"></property>  
    </bean>  
    <bean class="org.springframework.orm.hibernate5.HibernateTransactionManager" name="transactionManager">
    <property name="sessionFactory" ref="mysessionFactory"/>    
  </bean>
      
     
      
   
</beans>  